{% set footerData = json('footer') %}

<footer class="footer">
  <div class="footer-contact">
    <div class="container footer-contact__container">
      <ul class="footer-contact__socials" data-aos="fade-right" data-aos-duration="450">
        {% for socials in footerData %}
          {% for item in socials.socials %}
            <li>
              <a href="#">
                <svg width="35" height="35">
                  <use href="{{ item }}"></use>
                </svg>
              </a>
            </li>
          {% endfor %}
        {% endfor %}
      </ul>

      <div class="footer-contact__questions" data-aos="fade-left" data-aos-duration="450">
        <h4>
          Have More Questions?
        </h4>

        <ul>
          <li>
            <a class="footer__link" href="tel:5304235784">
              <svg width="17" height="17">
                <use href="./icon/icons/icons.svg#phone"></use>
              </svg>(530) 423 5784
            </a>
          </li>
          <li>
            <a class="footer__link" href="mailto:info@wafflepantry.com">
              <svg width="19" height="14">
                <use href="./icon/icons/icons.svg#mail"></use>
              </svg>info@wafflepantry.com
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="footer-content">
      <div class="footer-content__links">
        <div data-aos="fade-up" data-aos-duration="450">
          <h3 class="footer__title">
            information
          </h3>

          <ul class="footer-content__list">
            {% for information in footerData %}
              {% for item in information.information %}
                <li><a class="footer__link" href="#">{{ item }}</a></li>
              {% endfor %}
            {% endfor %}
          </ul>
        </div>

        <div data-aos="fade-up" data-aos-duration="450" data-aos-delay="100">
          <h3 class="footer__title">
            customer service
          </h3>

          <ul class="footer-content__list">
            {% for services in footerData %}
              {% for item in services.services %}
                <li><a class="footer__link" href="#">{{ item }}</a></li>
              {% endfor %}
            {% endfor %}
          </ul>
        </div>

        <div data-aos="fade-up" data-aos-duration="450" data-aos-delay="200">
          <h3 class="footer__title">
            my account
          </h3>

          <ul class="footer-content__list">
            {% for accounts in footerData %}
              {% for item in accounts.accounts %}
                <li><a class="footer__link" href="#">{{ item }}</a></li>
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="footer-content__address" data-aos="fade-up" data-aos-duration="450" data-aos-delay="300">
        <address>
          <ul>
            <li class="footer-content__address-item">
              <h4>
                Main Office & Distr. Center:
              </h4>
              <a class="footer__link" href="#">847 E Edna Covina, CA 91723</a>
            </li>
            <li class="footer-content__address-item">
              <h4>
                Distribution Center:
              </h4>
              <a class="footer__link" href="#">Philadelphia, PA 19133</a>
            </li>
          </ul>
        </address>

        <img src="./img/content/map.png" alt="usa map" />
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container footer-copyright__container">
      <ul class="footer-copyright__links footer-copyright__column">
        {% for links in footerData %}
          {% for item in links.links %}
            <li><a class="footer__link" href="#">{{ item }}</a></li>
          {% endfor %}
        {% endfor %}
      </ul>

      <p class="footer-copyright__text footer-copyright__column">
        Waffle Pantry® is a registered trademark of Cambridgeshire Corp. Waffle Pantry © 2023
      </p>

      <ul class="footer-copyright__companies footer-copyright__column">
        {% for companies in footerData %}
          {% for item in companies.companies %}
            <li>
              <a href="#">
                <img src="{{ item.icon }}" alt="logo" width="{{ item.size.width }}" height="{{ item.size.height }}" />
              </a>
            </li>
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  </div>
</footer>
